*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root {

}
body {
  background-color: #f5ebdb;
  position: relative;
}


section{
    width: 100%;
}

h1{
    font-size: clamp(24px, 4vw, 40px);
}

h3{
    font-size: clamp(20px, 2.5vw, 30px);
}

p, a{
    font-size: clamp(16px, 2vw, 25px);
}

p, a{
    overflow-wrap: break-word;
}

a {
    font-family: 'Anton';
}

/*navbar*/
.navbar {
    position: fixed;
    z-index: 1000;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width:1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 
        0 8px 32px rbga(31, 38, 135, 0.37), 
        inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.tabcontent {
    color: rgba(255, 255, 255, 0.95);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 25px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
}

.tabcontent::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.3), transparent);
    transition: left 0.5s;
}

.tabcontent::before {
    left: 100%;
}

.tabcontent:hover {
    color:white;
    background: rgba(255, 255, 255, 0.25);
    transform: translate(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/*Home*/
#home {  
    min-height: 100vh;
    padding: 120px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-image: url("ios-26-carplay-stock-wallpaper-4000x2182-32005.jpg"); 
    background-repeat: no-repeat;  
    background-size: cover;     
    background-position: center;   
    background-attachment: fixed;
}
.container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.top-text {
    text-align: center;
    font-family: 'Audiowide';
    color: white;
    font-size: 22px;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
    transform: scale(calc(100vw / 1440));
  transform-origin: top center;
  font-family: 'Anton';
}

.left-vertical {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 55px;
  font-weight: 300;
  letter-spacing: 4px;
  color: white;
}
        
.title {
  font-size: 200px;
  font-weight: lighter;
  line-height: 0.95;
}

.title span {
    color: white;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.year {
  font-size: 220px;
}

/*About*/
#about {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 4fr 5fr;
    font-family: 'Kanit';
    padding-top: 100px;
}

#about aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about h1 {
    color:#5a5eff;
    padding: 10px 0 5px;
}

#about h3 {
    font-weight:400;
}

#about p {
    font-weight: 300;
}

.container-about {
    width: 100%;
    text-align: center;
}

.container-about img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid white;
    display: block;
    margin: 0 auto;
} 

.container-information,
.container-language,
.container-interest {
    margin-top: 30px;
    text-align: left;
    width: 70%;
}

.language-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.skills-tags {
    display: flex;
    flex-wrap: wrap; /* Tự động xuống hàng khi hết chỗ */
    gap: 12px;       /* Khoảng cách giữa các thẻ */
    padding: 10px 0;
}

.tag {
    display: inline-block;
    padding: 8px 25px;    
    border: 3px solid #1a1a1a;
    border-radius: 50px;  
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #1a1a1a;
    background-color: transparent;
    cursor: default;
    transition: all 0.3s ease;
}

/*Resume*/
#resume{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 0px;
    column-gap: 80px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 10px;
    border:2px solid #ff5a5a;
}

.timeline{
    position: relative;
    padding-left: 40px;
}

.timeline::before{
    content: "";
    position: absolute;
    left: 5px;
    top: 10px;
    width: 3px;
    height: 100%;
    background: #ccc;
}

.timeline-item{
    position: relative;
    margin-bottom: 30px;
}

.dot{
    position: absolute;
    left: -40px;
    top: 15px;
    width: 12px;
    height: 12px;
    background: #6200ff;
    border-radius: 50%;
}

.container-education h1{
    font-family: 'Goldman';
    color: #6200ff;
    padding-bottom: 10px;
}

.content p{
    line-height: 1.2;
}

.content li{
    line-height: 1.2;
    margin-left: 30px;
}

.container-work h1{
    font-family: 'Goldman';
    color: #6200ff;
    padding-bottom: 10px;
}

#projects{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1000px;
    margin: auto;
    padding: 120px 20px 0px;
}

.container-certificates h1,
.container-projects h1{
    text-align: center;
    font-family: 'Goldman';
    color: #6200ff;
    padding-bottom: 10px;
}

.container-certificates li,
.container-projects li{
    line-height: 1.2;
    margin-left: 30px;
}

/*Contact*/
#contact{
    background-color: #3d3d3d;
    min-height: 100vh;
    padding: 120px 20px;
}

.container-contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    row-gap: 0px;
    column-gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0px;
    
}

.container-contact h3{
    color:white;  
}

.container-contact p{
    color: #ffffff;
}

.container-contact a{
    display: inline-block;
    max-width: 100%;
    color: white;
    word-break: break-word;
}

/*Responsive mobile*/
@media (max-width: 600px){

    .navbar{
        padding: 0px 5px;
    }

    .navbar ul{
        flex-wrap: wrap;
        gap: 0px;
    }

    .navbar li{
        padding: 20px 0;
    }
    .navbar a{
        padding: 20px 7px;
    }

    .container-home{
        padding: 50px 15px 0px;
        text-align: center;
    }

    .container-home img{
        width: 140px;
        height: 140px;
        border: 3px solid white;
    }

    .container-logo i{
        gap: 15px;
    }

    #about,
    #resume{
        grid-template-columns: 1fr;
        padding: 80px 15px;
        gap: 30px;
    }

    #projects{
        grid-template-columns: 1fr;
        padding: 80px 10px;
    }

    .timeline{
        padding-left: 20px;
    }

    .timeline::before{
        left: 0;
    }

    .dot{
        width: 10px;
        height: 10px;
        left: -23px;
    }

    .container-contact{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 20px;
        padding: 80px 10px;
    }

    #contact{
        padding: 40px;
    }
}

