*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    color: white;
    background-color: white;
    position: relative;
}

section {
    width: 100%;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

p, a {
    font-size: 1.5rem;
    overflow-wrap: break-word;
}

p {
    font-weight: 300;
}

a {
    font-family: 'Anton';
    text-decoration: none;
    color: inherit;
}

.navbar,
#about aside,
.container-education,
.container-work,
.container1-about,
.block-skills,
#projects aside,
.container-certificates,
.block-projects,
.certificates {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 
        0 8px 32px rgba(31, 38, 135, 0.37), 
        inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

/*navbar*/
.navbar {
    position: fixed;
    z-index: 1000;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width:1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.tabcontent {
    color: rgba(255, 255, 255, 0.95);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 50px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
}

.tabcontent::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.3), transparent);
    transition: left 0.5s;
}

.tabcontent::before {
    left: 100%;
}

.tabcontent:hover {
    color:white;
    background: rgba(255, 255, 255, 0.25);
    transform: translate(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.item {
    gap: 50px;
    font-family: 'Anton';
    padding: 0 40px;
    font-size: 1.2rem;
}

.item p {
    gap: 3rem;
}

/*Banner*/
.name-line {
    overflow: hidden;
    width: 100%;
    padding: 0.3rem 0;
    position:fixed;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 
        0 8px 32px rgba(31, 38, 135, 0.37), 
        inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.track {
    z-index: 2000;
    display: flex;
    white-space: nowrap;
    display: flex;
    width: max-content;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/*Home*/
#home {  
    min-height: 100vh;
    padding: 7.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-image: url("../PIC/ios-26-carplay-stock-wallpaper-4000x2182-32005.jpg"); 
    background-repeat: no-repeat;  
    background-size: cover;     
    background-position: center;   
    background-attachment: fixed;
}
.container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.top-text {
    text-align: center;
    font-family: 'Audiowide';
    color: white;
    font-size: 1.4rem;
    letter-spacing: 0.25rem;
    margin-bottom: 1rem;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(calc(100vw / 1440));
    transform-origin: top center;
    font-family: 'Anton';
}

.left-vertical {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 3.4rem;
    font-weight: 300;
    letter-spacing: 0.25rem;
    color: white;
}
        
.title {
    font-size: 12.5rem;
    font-weight: lighter;
    line-height: 0.95;
}

.title span {
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
}

.year {
    font-size: 13rem;
}

/*About*/
#about {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 4fr 5fr;
    font-family: 'Kanit';
    padding: 7.5rem 1.25rem 1.25rem 1.25rem;
    gap: 1.25rem;
    background-image: url("../PIC/ios-26-carplay-stock-wallpaper-4000x2182-32005.jpg"); 
    background-repeat: no-repeat;  
    background-size: cover;     
    background-position: center;   
    background-attachment: fixed;
}

#about aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.container1-about,
.block-skills{
    height: 100%;
}

.container1-about,
.block-skills {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
}

#about h1 {
    color:#ffffff;
    padding: 0.6rem 0 0.3rem;
}

#about h3 {
    font-weight:400;
}

.container-about {
    width: 100%;
    text-align: center;
}

.container-about img {
    width: 19rem;
    height: 19rem;
    border-radius: 50%;
    border: 0.15rem solid white;
    display: block;
    margin: 1.5rem auto;
} 

.level {
    font-weight: 200;
}

.container-information,
.container-language,
.container-interest {
    margin-top: 1.8rem;
    text-align: left;
    width: 70%;
}

.language-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.skills-tags {
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem;       
    padding: 0.5rem 0;
}

.tag{
    display: inline-block;
    position: relative;         
    overflow: hidden;       

    padding: 0.5rem 1.5rem;
    border: 2px solid rgba(255,255,255,0.95);
    border-radius: 50px;

    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255,255,255,0.95);
    background: transparent;

    cursor: default;
    transition: all 0.3s ease;
}

.tag:hover::before{
    left: 100%;
}

.tag:hover{
    color: white;
    background: rgba(255,255,255,0.25);
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/*Resume*/
#resume,
#projects {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 4fr 5fr;
    font-family: 'Kanit';
    padding: 7.5rem 1.25rem 1.25rem 1.25rem;
    gap: 1.25rem;
    background-color: #05070a;
    background-image: 
        /* Khối màu Xanh Mint lớn ở góc trên bên trái */
        radial-gradient(at 20% 20%, rgba(130, 224, 215, 0.4) 0px, transparent 60%),
        /* Khối màu Xanh Dương đậm ở góc dưới bên phải */
        radial-gradient(at 80% 80%, rgba(60, 110, 210, 0.5) 0px, transparent 70%),
        /* Quầng màu Xanh Dương nhạt loang ở giữa và bên phải */
        radial-gradient(at 100% 40%, rgba(110, 190, 240, 0.4) 0px, transparent 50%),
        /* Quầng màu Xanh Tím rất mờ ở góc dưới bên trái */
        radial-gradient(at 10% 90%, rgba(109, 122, 219, 0.3) 0px, transparent 50%);
    background-attachment: fixed;
}

.container-education,
.container-work {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
}

#projects aside,
.container-certificates,
.block-projects {
    padding: 1.5rem;
}

#projects aside {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.certificates-year {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.25rem;
}

.container-certificates {
    grid-column: 2/3;
    grid-row: 1/2;
}

.certificates {
    padding: 0.5rem;
}

.block-projects {
    grid-column: 1 / 3; 
    grid-row: 2 / 3;
}


/*Contact*/
footer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 7.5rem;     
    background-image: url("../PIC/ios-26-carplay-stock-wallpaper-4000x2182-32005.jpg"); 
    background-repeat: no-repeat;  
    background-size: cover;     
    background-position: center;   
    background-attachment: fixed;
    color: white;
    font-family: 'Anton', sans-serif;
}

.contact-content {
    text-align: center;
    position: absolute;
    text-align: center;
    padding-top: 1.25rem;
    bottom: 0;
    width: 100%;
    height: 55vh;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    box-shadow: 
        0 8px 32px rgba(31, 38, 135, 0.37), 
        inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.col {
    padding-top: 1rem;
}
